/* Pill Size */
/* height: 500px; width: 200px;
height: 300px; width:140px;
height: 150px; width: 75px; */


.pill{
    height:300px;
    width: 140px;
    border: 1px solid black;
    background: transparent;
    border-radius: 100px;
    -webkit-transform: rotate(15deg);
}
.pill-move{
    animation-name:pill;
    animation-duration: 300s;
    /* animation-duration: 300s; */
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    position: absolute;
    z-index: -10;
}

.top-pills{
    top:-2000px;
}
@keyframes pill{
   0% {
       transform: translatex(0px) translatey(2080px);
   }
   100% {
       transform: translatex(0px) translatey(0px);
   }
}
/* PILLS */
#pill-1{
    height: 650px;
    width: 250px;
    border-radius: 150px;
    position: inherit;
    right: -1000px;
    opacity: 1;
    background: linear-gradient(233deg, #FBD249, #F5A623);    
    border: transparent;
}
#pill-2{
    opacity: 0.3;
}
#pill-3{
    position: inherit;
    left: 400px;
    top: 900px;
    background: linear-gradient(233deg, #FBD249, #F5A623);    
    border: none;   
}
#pill-4{
    top: 200px;
    opacity: 1;
    position: inherit;
    border: 2px solid #FBD249;
}


/* TOP PILLS */
#pill-5{
    height: 650px;
    width: 250px;
    border-radius: 150px;
    position: inherit;
    right: -1500px;
    opacity: 1;
    background: linear-gradient(233deg, #FBD249, #F5A623);
    border: transparent;
}
#pill-6{
    height: 650px;
    bottom:100px;
    opacity: 0.3;
    width: 250px;
    border-radius: 150px;
    position: inherit;
    right: -1500px;
    background:transparent;
}
#pill-7{
    background: linear-gradient(233deg, #F5A623, #FBD249);
    border: none;    
}
#pill-8{
    left: 300px;
    position: inherit;
    height: 500px;
    width: 200px;
    border: 5px solid #FBD249;
}