@font-face {
    font-family: 'FuturaLT-Bold';
    src: url('../fonts/Futura-Font/FuturaLT-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'FuturaLT-Light';
    src: url('../fonts/Futura-Font/FuturaLT-Light.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'FuturaLT';
    src: url('../fonts/Futura-Font/FuturaLT.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'FuturaLT-Book';
    src: url('../fonts/Futura-Font/FuturaLT-Book.ttf'); /* IE9 Compat Modes */
}

*{
    font-family: FuturaLT-Bold;
}
body{
    overflow-x: hidden;
}
*:focus{
    outline: none;
    z-index: 0;
}
header{
    font-size:65px;
    padding-bottom: 3%;
}
p{
    font-size: 2em;
    font-family: FuturaLT;
}
h1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 135px;
}
h2{
    font-size: 3em;
}
h3{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 115px;
}
h4{
    font-size:35px;
    padding: 0px 0 10px 0px;
}
i{
    font-family: FuturaLT-Light;
}

/* Attendee form */

.attendee-input-form input{
    outline: none;
    border:none;
    box-shadow: none;
    border-bottom: 1px solid black;
    font-size:20px;
    width:25%;
    font-family:FuturaLT-Book;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding:7% 0 0 0;
}

.attendee-input-form button{
    outline: none;
    border:none;
    font-family:FuturaLT-Book;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin: 3% 44%;
    font-size:30px !important;
    opacity: 0.8
}

.attendee-input-form button:hover{
  opacity: 1;
}

/* END Attendee form */



/* MAIN PAGE */
.orange-gradient{
    background: linear-gradient(188deg, #ffbd17, #58f51d);}    
.content{
    padding: 5% 15% 0% 15%;  
}
.content-sm{
    width: 50%;
    padding:0 5% 5% 0;
}
.content header{
    font-size: 50px;
}
.hero .content header{
    font-size: 80px;
}
.content p{
    font-size:1.8em;
}
.hero{
    padding:5% 0% 0% 0%;
}
.hero h1{
    color:#C8F020;
}
.hero .content{
    padding: 5% 15% 10% 15%;
}
.mango{
    height:20em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.header-info{
    padding: 10% 0 3%;
}
.header-info p{
    font-family: FuturaLT-Book;
}
.info-2{
    padding-top: 5em;
}
.slogan{
    margin-top: -30px;
    font-family: FuturaLT-Light !important;
}
.macbook{
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
}
.macbook .hero{
    padding:15% 0% 0% 0%;
    height: 100vh;
}

/* END MAIN PAGE */

/* WHAT is a Hackathon section */
.whatis .content{
    padding: 5% 15% 5% 15%;  
}

/* END WHAT is a Hackathon section */

/* FAQ Section */
.faq{
    display:flex;
    flex-wrap: wrap;
}
.faq p{
    font-size: 1.7em;
}
.faq h4{
    font-size: 30px;
}
/* END FAQ Section */


/* WHAT LIKE Section */

.whatlike .content{
    padding: 5% 15% 5% 15%;
}

/* END Whatlike section */

/* Sponsors Grid */
.sponsors header{
    font-size: 50px;
    padding-bottom: 7%;
    width: fit-content;
}
.sponsors .content{
    padding: 5% 15% 0% 15%;
}
.sponsors .content .row{
    margin-right: -350px;
    padding-bottom:10%;
}
.sponsors img{
    height: 120px;
    opacity: 0.7;
}
.sponsors img:hover{
    opacity: 1;
}

/* END Sponsors Grid */


/* TEAM GRID */
.team .content{
    padding: 0% 15% 5% 15%;   
}
.team img{
    height: 250px;
    border-radius: 50%;
    padding-bottom: 2%;
}
.team img:hover{
    opacity: 0.4;
}
.team .row{
    padding-bottom: 5%;
    text-align: center;
}
.team header{
    text-align: center;
    font-size: 50px;
    padding-bottom: 1.8em;
}
.team h4{
    font-size: 30px;
    font-family: FuturaLT-Book;
}
.team p{
    font-family: FuturaLT-Light;
    margin-top: -10px;
    font-size: 25px;
}
/* END Team grid */


/* Sponsors info page */
.sponsor-info-form {
    text-align: center;
    padding: 2% 0;

}
.sponsor-info-form input{
    
}
/* End Sponsors info */



/* PROSPECTUS PAGE */
.prospectus-page{
    background: rgb(202, 202, 202);
    text-align: -webkit-center;
}
.prospectus-page img{
    height: 70em;
    display: block;
}
/* END Prospectus page */

/* MODAL */
.signup-modal{
    padding-top: 3%;
}
.fade{
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear !important; 
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 20em 50em !important;
}
.modal .attendee-input-form input{
    width: 85%;
    padding: 15% 0 0 0;
}
.modal-title{
    font-size:30px;
    margin-left: auto;
    margin-right: auto;
}
.modal-header{
    padding: 20px 45px;
}
.attendee-input-form button{
    padding: 40px 0 10px 0;
    margin-left: auto;
    width: 100%;
}
.modal-close{
    width: -webkit-fill-available;
    background: transparent;
    outline: 0 !important;
}
.modal-content{
    width: 35em !important;
}
.modal-btn{
    font-family: FuturaLT;
    font-size: 25px;
    border-radius: 50px;
    width: fit-content;
    padding: 10px 100px;
    outline: none !important;
    background: transparent;
    border: 1px solid black;
}
.modal-open .modal{
    background: rgba(255, 255, 255, 0.5);
    transition: opacity .15s linear !important;    
}
/* END Modal */



/* Footer */
footer{
    height:120px;
    background: #f5bb1d;
    text-align: center;
}
footer div{
    padding: 20px 0;
}
.footer-text{
    color:white !important;
    font-family: FuturaLT;    
    font-size: 20px;
}
.footer-link{
    margin: auto;
}
.fa-facebook {
    color: white;    
}
.fa-facebook:hover{
    text-decoration: none;
    color:#3B5998;     
} 
.fa-twitter {
    color: white;  
    padding: 0 1.5%; 
}
.fa-twitter:hover{
    text-decoration: none;
    color:#00aced;
}  
.fa-slack {
    color: white;    
} 
.fa-slack:hover{
    text-decoration: none;
    color: #e6186d;     
} 
/* END OF FOOTER */



/* IMAGES Styles */
.vr{
    margin: auto;
    display: -webkit-box;
    height: 44rem;
    position: relative;
}
.vr-img{
    position: absolute;
}



/* MEDIA Queries */

/* MEDIUM */
@media only screen and (max-width:875px){
    h2{
        font-size:3em;
    }
    /* TOP */
  .macbook .hero{
        padding-top: 30%;
    }
    .macbook .mango{
        height: 17em;
    }
    .hero h1{
        font-size: 120px;
    }

    /* CELEBRATION */
    .slogan{
        padding-top: 10%;
    }
    .info-2{
        padding-top: 2em;
    }
    .hero .content header {
        font-size: 65px;
    }

    /* FAQ */
    .content-sm{
        width: 100%;
    }
    .content header{
        padding-bottom: 5%;
    }

    /* SPONSORS */

}

/* PHONES */
@media only screen and (max-width:575px){
    .content{
        padding: 5% 5% 10% 10%;
    }
    h1{
        font-size:70px; 
    }
    P{
        font-size: 1.2em;
    }
    header{
        font-size: 45px;
    }
    h2{
        font-size: 2em;
    }

    /* TOP HERO */
    .macbook .hero{
        padding-top: 50%;
    }
    .macbook .mango{
        height: 10em;
    }
    .hero h1 {
        font-size: 60px;
    }

    /* Celebration */
    .hero .content{
        padding: 5% 5% 10% 10%;
    }
    .hero .content header {
        font-size: 40px;
    }
    .hero .content p{
        font-size: 1em;
    }
    .info-2 {
        padding-top: 1em;
    }
    .slogan{
        padding-top: 2%;
        margin: 0px;
    }


    /* INFO */
    .content p {
        font-size: 1em;
    }
    /* FAQ */
    .content-sm{
        width: 100%;
    }
    .faq p {
        font-size: 1em;
    }
    .faq h4 {
        font-size: 20px;
        padding: 0%;
    }
    .content header {
        font-size: 30px;
    }

/* PROSPECTUS PAGE */
.prospectus-page img{
    height: 34em;
}

/* Sponsors Grid */
.sponsors img{
    height: 50px;
}
.sponsors .content {
    padding: 0% 5% 10% 5% !important;
}
.sponsors header{
    font-size: 35px;
    padding-bottom: 7%;
}
.sponsors .content .row{
    padding-bottom:5%;
}


/* TEAM Grid */
.team img{
    height: 100px;
}
.team header{
    font-size: 35px;
}
.team h4{
    padding-top: 10px;
    font-size: 15px;
}
.team p{
    font-size: 13px;
    margin-top: -15px;
}
.team .content header {
    padding-bottom: 10%;
}
.team .col{
    text-align: center;
}
.team .content {
    padding: 0% 10% 10% 7%;
}
.team .row{
    text-align: -webkit-auto;
}

 /* FOOTER */
footer{
    height:100px;
}
footer div{
    padding: 10px 0;
}
.footer-text {
    font-size: 15px;
}
.footer-link{
    font-size: 12px;
}
.fa-facebook{
    font-size:25px;
}
.fa-twitter {
    font-size: 25px;
    padding: 0 7.5%;
}
.fa-slack{
    font-size: 25px;
    }   
}
